<section class="portfolio-section">
  <h2>Portfolio</h2>
  <div class="portfolio-grid">
    <div class="card">
      <figure>
        <img src="./img/portfolio-1.jpg" alt="Project 1 preview thumbnail">
        <figcaption>Project 1</figcaption>
      </figure>
    </div>
    <div class="card">
      <figure>
        <img src="./img/portfolio-2.jpg" alt="Project 2 preview thumbnail">
        <figcaption>Project 2</figcaption>
      </figure>
    </div>
    <div class="card">
      <figure>
        <img src="./img/portfolio-3.jpg" alt="Project 3 preview thumbnail">
        <figcaption>Project 3</figcaption>
      </figure>
    </div>
    <div class="card">
      <figure>
        <img src="./img/portfolio-4.jpg" alt="Project 4 preview thumbnail">
        <figcaption>Project 4</figcaption>
      </figure>
    </div>
    <div class="card">
      <figure>
        <img src="./img/portfolio-5.jpg" alt="Project 5 preview thumbnail">
        <figcaption>Project 5</figcaption>
      </figure>
    </div>
    <div class="card">
      <figure>
        <img src="./img/portfolio-6.jpg" alt="Project 6 preview thumbnail">
        <figcaption>Project 6</figcaption>
      </figure>
    </div>
  </div>
</section>